<!doctype html>
{% from "rstp/rwa_macros.html" import nav_link with context %}
<html>
  <ul class="nav navbar-nav">
  {{ nav_link('rstp.input', 'Home') }}
  </ul> 
  <head>
  <style media="screen" type="text/css">
  div#loading {
    width: 35px;
    height: 35px;
    display: none;
    background: url('/static/loader.gif') center center no-repeat;
    background-attachment: fixed;
    cursor: wait;
    }
    body1 {
    background: url('/static/loader.gif') center center no-repeat;
    background-attachment: fixed;
    cursor: wait;
    }
  </style>
   <script type="text/javascript">// <![CDATA[
        function loading(){
        	alert("I am an alert box!");
            //$("#loading").show();
            //$("#content").hide();       
            var link = document.getElementById('content');
            link.style.display = 'none';
            var link = document.getElementById('loading');
            link.style.display = 'block';
        }
   // ]]></script>  
  </head>
   <body>    
      <h1 style = "text-align: center;"> Welcome to RSTP Web App </h1>
      <h4> This is a web application for 1-D RSTP solver </h3>
      <text> More text here </text>
      <br>
      <br>
      <br>
      {% for message in form.discontinuity.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Vx_left.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Vx_right.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Mx_left.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Mx_right.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.D_left.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.D_right.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Rho_left.errors %}
         <div>{{ message }}</div>
      {% endfor %}
      {% for message in form.Rho_right.errors %}
         <div>{{ message }}</div>
      {% endfor %}      
 
      <form action = "input" method = post>
         <fieldset>
            <legend>Initial Values</legend>
            {{ form.hidden_tag() }}
            <div id="loading"></div>
            <div id="content" style = font-size:20px; font-weight:bold; margin-left:150px;>
               {{ form.ode_solver.label }} {{ form.ode_solver }}
               <br>
               
               {{ form.discontinuity.label }} {{ form.discontinuity }}
               <br>
               <br>
               <table>
                 <TR>
                     <TD>    </TD>
                     <TD> Vx </TD>
                     <TD> Mx </TD>
                     <TD> D </TD>
                     <TD> Rho </TD>
                 </TR>
                 <TR>
                     <TD> Left part </TD>
                     <TD> {{form.Vx_left}} </TD>
                     <TD> {{form.Mx_left}} </TD>
                     <TD> {{form.D_left}} </TD>
                     <TD> {{form.Rho_left}} </TD>
                 </TR>
                 <TR>
                     <TD> Right part </TD>
                     <TD> {{form.Vx_right}} </TD>
                     <TD> {{form.Mx_right}} </TD>
                     <TD> {{form.D_right}} </TD>
                     <TD> {{form.Rho_right}} </TD>
                 </TR>
               </table>

               <input type="submit" name="anything_submit" value="Submit" onclick="loading();">
            </div>            
         </fieldset>
      </form>  
   </body>
</html>
